#head {
color : red ; 
float: left;
}

.list {
float: right ;
display: inline;
padding: 5px ;
border: 3px  solid ;

}
#suptitle {
    color: white;
    float: left;
    background-color: black;
    padding: 10px ;
    border : 3px solid ;

}
.contact {
    color: yellow;
    display: inline;
    padding: 10px ;
    border : 2px solid; 
}